@import "@Styles/variables"; 

.carousel-pagination {
    margin-bottom: 2rem;
  
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  
    &__title-group {
      display: flex;
      flex-direction: column;
    }
  
    &__title {
      font-size: 3rem;
      margin: 0;
    }
  
    &__subtitle {
      font-size: 1.5 rem;
      color: $color-gray-light;
      margin: 0.25rem 0 0;
    }
  }
  